div {
    margin: 10px;
    
    padding: 15px;
    border: 1px solid black;
}

a {
    color: white;
}
a:active {
    color: azure;
}
a:hover {
    color: aqua;
}

/* How to style hr from : https://www.w3schools.com/howto/howto_css_style_hr.asp */
hr {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
}

#mainWrapper {
    width: 70%;
    
    margin-top: 0;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: darkslateblue;
    color: white;
    
    text-align: center;
}

#logoutBox {
    border: 1px solid white;
    border-radius: 5px;
    width: 70px;
    
    margin-left: auto;
    margin-right: auto;
}

#nextLevel {
    width: 100px;
    
    background-color: green;
    
    margin-left: auto;
    margin-right: auto;
} 